#giftBody {
    background-color: #070c14;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*canvas {
    border: 1px solid #000;
}*/

button {
    margin-top: 10px;
}

#progressText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    color: bisque;
}
a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
a:link {
color: #1DE9B6;
background-color: transparent;
}

a:visited {
color: #1DE9B6;
background-color: transparent;
}

a:hover {
color: red;
background-color: transparent;
}

a:active {
color: yellow;
background-color: transparent;
}